* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.cards-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-container {
    perspective: 1000px;
    transition: transform 0.6s ease-in-out, width 0.6s ease-in-out, height 0.6s ease-in-out;
    transform-origin: center center;
    position: absolute;
}

#main-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 250px;
}

#project-card {
    top: 50%;
    left: 40%;
    width: 300px;
    height: 200px;
}

#socials-card {
    position: absolute;
    bottom: 10%;  /* Adjust to position it correctly underneath the main card */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;  /* Make it wide enough to hold all icons */
    height: 80px; /* Adjust height for a strip */
    margin-top: 20px;
}

#socials-card .card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;  /* Rounded corners */
}

.social-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.social-icons a {
    text-decoration: none;
    display: inline-block;
}

.social-icons img {
    width: 40px;  /* Adjust size of icons */
    height: 40px;
    margin: 0 10px;  /* Space between icons */
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);  /* Scale up the icon on hover */
}

#blog-card {
    top: 10%;
    left: calc(50% + 275px); 
    width: calc(40% - 135px); 
    height: calc(80% - 50px);
}

#blog-card .card-back {
    background-color: #1c1c1c; 
    color: #fff; 
    padding: 20px;
    overflow-y: auto;
}

#blog-card .blog-posts {
    font-family: 'Arial', sans-serif;
}

#blog-card .blog-posts h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

#blog-card .blog-posts ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#blog-card .blog-posts li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px dashed #999;
}

#blog-card .blog-posts li:last-child {
    border-bottom: none;
}

#blog-card .blog-posts li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#blog-card .blog-posts li a:hover {
    text-decoration: underline;
}

#blog-card .blog-posts li .date {
    font-size: 16px;
    color: #999;
}

#media-card {
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 200px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border: 1.5px solid #000;
}

.card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    overflow: hidden;
}

.card-front img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card-back {
    background: #ffffff;
    transform: rotateY(180deg);
}

.card-back img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card-container:hover .card {
    box-shadow: 20px 1px 30px rgba(0, 0, 0, 0.5);
}

.card-container.flipped .card {
    transform: rotateY(180deg);
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
}

.card-container.visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.progress-bar-container {
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 24px;
    background-color: #ddd;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 5px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #000;
    transition: width 1.5s linear;
}

.progress-bar-container.active {
    opacity: 1;
}

.progress-bar-container.finished {
    display: none;
}

.hover-message {
    position: fixed;
    bottom: 67px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    color: #000;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    font-family: 'New Amsterdam', sans-serif;
    font-weight: normal;
}

.hover-message.hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.flip-button {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000; 
}

.flip-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}